pkgbase = bootc
	pkgdesc = Boot and upgrade via container images
	pkgver = 1.15.1
	pkgrel = 1
	url = https://github.com/bootc-dev/bootc
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	makedepends = cargo
	makedepends = go-md2man
	makedepends = git
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = openssl
	depends = ostree
	depends = zlib
	depends = zstd
	source = git+https://github.com/bootc-dev/bootc.git#tag=v1.15.1
	sha256sums = adbc176c70e7ef66a3142c68f3a1dc621f811bbec44b34e7d2cfe9cf6407e169

pkgname = bootc
