pkgbase = bootc
	pkgdesc = Boot and upgrade via container images
	pkgver = 1.14.1
	pkgrel = 1
	url = https://github.com/bootc-dev/bootc
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	makedepends = cargo
	makedepends = go-md2man
	makedepends = git
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = openssl
	depends = ostree
	depends = zlib
	depends = zstd
	source = git+https://github.com/bootc-dev/bootc.git#tag=v1.14.1
	sha256sums = 017a3aefb14d461b33b3847b6cdd8fa62d49f3ce8dd49fbef03308eea866f34f

pkgname = bootc
