pkgbase = bcvk
	pkgdesc = Launches ephemeral VMs from bootc containers and creates disk images.
	pkgver = 0.7.0
	pkgrel = 2
	url = https://github.com/bootc-dev/bcvk
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = cargo
	makedepends = go-md2man
	depends = glibc
	depends = openssh
	depends = qemu-system-x86
	depends = virtiofsd
	depends = podman
	source = https://github.com/bootc-dev/bcvk/releases/download/v0.7.0/bcvk-0.7.0.tar.zstd
	source = virtiofsd-path.patch
	sha256sums = f56012088ba93607fc55a2c3ae38e7ca0bdcea128a85da8035901cdd3802566f
	sha256sums = 247294f5ad02bdb654de4b67756669df91a9f24ec876620ba7175456ce67a3fa

pkgname = bcvk
