---
name: Build PKGBUILDs
on:
  # pull_request:
  #   branches:
  #     - testing
  # schedule:
  #   - cron: "35 7 * * *" # 7:35am UTC every day
  push:
    branches:
      - testing
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

jobs:
  build:
    name: Build PKGBUILDs
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Build PKGBUILDs
        uses: hecknt/archlinux-pkgbuilds@v0.2.0
        env:
          PACKAGER: "Hec <hec@heccraft.com>"
        with:
          repo_name: "bootc-testing"
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          gpg_key_data: "${{ secrets.GPG_KEY_DATA }}"
          gpg_key_id: "${{ vars.GPG_KEY_ID }}"
